*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(90deg,rgb(64, 169, 255),rgb(245, 46, 46));
    text-align: center;
}
h1{
    font-size: 2rem;
    margin-bottom: 2vh;
    color: #000000;
}
.subtitulo{
    color: #000000;
    margin-bottom: 4vh;
}
.opcoes{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
.cartao{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 220px;
    cursor: pointer;
    border: 3px solid transparent;
    box-shadow: 0 2px 8px #rgba(o,o,o.1);
    transition: border-color 0.2, transform 0.2;
}
.cartao:hover{
    border-color: #007bff;
    transform: scale(1.03);
}
.cartao img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.cartao p{
    margin-top: 1vh;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
.vs{
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    display: flex;
    align-items: center;
}

/*RESULTADO*/
#resultado{
    margin-top: 3vh;
    display: none; /* começa escondid*/
}
    #resultado h2{
        font-size: 1.3rem;
        color:#333;
        margin-bottom: 2vh;
    }